body {
    background-color: black;
    color: white;
}

.title {
    text-align: center;
}

#container {
    align-content: center;
}

.btn-primary {
    opacity: .5;
    margin: 8px;
}

#counter {
    margin: 10px;
}

#questionText {
    margin: 7px;
}

#oopsText {
    margin: 7px;
}

#answerText {
    margin: 7px;
}