body {
    background-color: black;
    color: white;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

#container {
    align-content: center;
}

.btn-primary {
    margin: 8px;
    align-content: center;
}

#counter {
    margin: 10px;
    text-align: center;
}

#questionText {
    margin: 7px;
    text-align: center;
}

#oopsText {
    margin: 7px;
}

#answerText {
    margin: 7px;
}